[user]
	name = miseon9
	email = minseong.oyat@gmail.com
[diff]
	color = true
	tool = nvimdiff
[merge]
	conflictStyle = diff3
	tool = nvimdiff
[color]
	diff = auto
	status = always
	branch = auto
[core]
	quotePath = false
	excludesfile = ~/.gitignore
